In [1]:
import pandas as pd
import numpy as np

In [ ]:
''' 
case 
 when datediff(ship_date, order_date) <= 3 then 'express'
 when datediff(ship_date, order_date) <= 7 then 'fast'
 when datediff(ship_date, order_date) <= 14  then 'standard'
 when datediff(ship_date, order_date) <= 21 then 'slow'
 else 'very_slow'

'''

df_daycategory = (
    df_limit.groupby("Day_Category", as_index=False)
    .agg(
        Day_Category_Count=("Order ID", "count"),
        Sum_Total_Revenue=("Total Revenue", "sum"),
        Avg_Total_Revenue=("Total Revenue", "mean"),
        Avg_Total_Profit=("Total Profit", "mean"),
    )
)


import numpy as np

order_month = df_orderdate['Order Month'].astype(int)


when_seasons = [
    order_month.isin([12, 1, 2]),   # winter
    order_month.isin([3, 4, 5]),    # spring
    order_month.isin([6, 7, 8]),    # summer
    order_month.isin([9, 10, 11])   # autumn
]

then_seasons = ['winter', 'spring', 'summer', 'autumn']

df_orderdate['shipping_seasons'] = np.select(
    when_seasons, then_seasons, default='No Seasons'
)

In [4]:
filepath = r'C:\Users\serha\OneDrive\Desktop\Data_Science_New_Era\Data_Science_New_Era\dataset.csv'
df = pd.read_csv(filepath, parse_dates=['Order Date','Ship Date'])
#df.info()

df_datediff = df
df_datediff['Delivery_Speed'] = (df_datediff['Ship Date']-df_datediff['Order Date']).dt.days
df_datediff

when_delivery_speed = [
    df_datediff['Delivery_Speed'] <= 3,
    df_datediff['Delivery_Speed'] <= 10,
    df_datediff['Delivery_Speed'] <= 14,
    df_datediff['Delivery_Speed'] <= 21
]

then_delivery_speed = ['express','standard','slow','very_slow']

df_datediff['Delivery_Speed_category'] = np.select(
    when_delivery_speed,then_delivery_speed,'turtle'
)

df_datediff

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit,Delivery_Speed,Delivery_Speed_category
0,Sub-Saharan Africa,Chad,Office Supplies,Online,L,2011-01-27,292494523,2011-02-12,4484,651.21,524.96,2920025.64,2353920.64,566105.00,16,very_slow
1,Europe,Latvia,Beverages,Online,C,2015-12-28,361825549,2016-01-23,1075,47.45,31.79,51008.75,34174.25,16834.50,26,turtle
2,Middle East and North Africa,Pakistan,Vegetables,Offline,C,2011-01-13,141515767,2011-02-01,6515,154.06,90.93,1003700.90,592408.95,411291.95,19,very_slow
3,Sub-Saharan Africa,Democratic Republic of the Congo,Household,Online,C,2012-09-11,500364005,2012-10-06,7683,668.27,502.54,5134318.41,3861014.82,1273303.59,25,turtle
4,Europe,Czech Republic,Beverages,Online,C,2015-10-27,127481591,2015-12-05,3491,47.45,31.79,165647.95,110978.89,54669.06,39,turtle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Asia,Laos,Beverages,Online,H,2014-07-15,199342048,2014-07-31,8597,47.45,31.79,407927.65,273298.63,134629.02,16,very_slow
9996,Europe,Liechtenstein,Cosmetics,Online,C,2012-10-27,763044106,2012-11-01,562,437.20,263.33,245706.40,147991.46,97714.94,5,standard
9997,Sub-Saharan Africa,Democratic Republic of the Congo,Vegetables,Offline,M,2013-02-14,848579967,2013-03-20,2524,154.06,90.93,388847.44,229507.32,159340.12,34,turtle
9998,Sub-Saharan Africa,South Africa,Meat,Online,L,2017-02-19,298185956,2017-02-22,8706,421.89,364.69,3672974.34,3174991.14,497983.20,3,express
9999,Asia,Mongolia,Snacks,Offline,M,2016-04-12,824410903,2016-04-16,361,152.58,97.44,55081.38,35175.84,19905.54,4,standard

## Group by delivery speed category, count of orders, min(ship days) 
# , max( shipdays), mean(ship days), mean of total_rev, mean total profit

df_a = df.groupby('Item Type').agg(
    Total_Revenue=('Total Revenue','sum'),
    Total_Unit_Sold=('Units Sold','sum'),
    Order_Counts=('Order ID','count')
).reset_index()
df_a

In [9]:
df_datediff_grouped = df_datediff.groupby('Delivery_Speed_category').agg(
    Count_of_Orders = ('Order ID','count'),
    Min_Delivery_Speed = ('Delivery_Speed','min'),
    Max_Delivery_Speed = ('Delivery_Speed','max'),
    Avg_Delivery_Speed = ('Delivery_Speed','mean'),
    Avg_Total_Revenue = ('Total Revenue','mean'),
    Avg_Total_Profit = ('Total Profit','mean'),
).reset_index().sort_values('Min_Delivery_Speed')

df_datediff_grouped

,Delivery_Speed_category,Count_of_Orders,Min_Delivery_Speed,Max_Delivery_Speed,Avg_Delivery_Speed,Avg_Total_Revenue,Avg_Total_Profit
0,express,765,0,3,1.554248,1.317929e+06,389097.943595
2,standard,1377,4,10,6.944081,1.338138e+06,399820.661460
1,slow,792,11,14,12.573232,1.363093e+06,404003.257992
4,very_slow,1337,15,21,18.029918,1.377017e+06,401887.258571
3,turtle,5729,22,50,35.920230,1.319965e+06,391933.435017

SELECT 
    YEAR(Order_Date) AS order_year,
    MONTH(Order_Date) AS order_month,
    MONTHNAME(Order_Date) AS month_name,
    COUNT(*) AS order_count,
    SUM(Total_Revenue) AS total_revenue,
    SUM(Total_Profit) AS total_profit,
    AVG(Total_Revenue) AS avg_revenue,
    CASE 
        WHEN SUM(Total_Revenue) > AVG(SUM(Total_Revenue)) OVER (PARTITION BY MONTH(Order_Date)) 
            THEN 'above_monthly_avg'
        ELSE 'below_monthly_avg'
    END AS performance_vs_avg
FROM sales
GROUP BY YEAR(Order_Date), MONTH(Order_Date), MONTHNAME(Order_Date)
ORDER BY order_year, order_month;

In [41]:
df_datediff['Order_Year'] = df_datediff['Order Date'].dt.year
df_datediff['Order_Month'] = df_datediff['Order Date'].dt.month
df_datediff['Order_MonthName'] = df_datediff['Order Date'].dt.month_name()
df_datediff

df_staging1 = df_datediff.groupby(['Order_Year','Order_Month','Order_MonthName']).agg(
    order_count = ('Order ID','count'),
    total_revenue = ('Total Revenue',('sum', 'mean')),
    total_profit = ('Total Profit','sum'),
    avg_revenue = ('Total Revenue','mean'),
).reset_index().round(2)

monthly_avg = df_datediff.groupby('Order_Month')['Total Revenue'].sum()
df_staging1['month_avg_revenue'] = df_staging1['Order_Month'].map(monthly_avg)

df_staging1

# total_revenue = (('Total Revenue','sum')>('monthly_avg'))
df_staging1['status'] = np.where(
    df_staging1['total_revenue'] > df_staging1['month_avg_revenue'],
    'above',
    'below'
)

df_staging1.head(20)
# 1197951.65

,Order_Year,Order_Month,Order_MonthName,order_count,total_revenue,total_profit,avg_revenue,month_avg_revenue,status
0,2010,1,January,131,1197951.65,49764359.41,1197951.65,1.154407e+09,below
1,2010,2,February,96,1372408.29,38387685.27,1372408.29,1.088059e+09,below
2,2010,3,March,97,1398856.68,43296398.69,1398856.68,1.193248e+09,below
3,2010,4,April,101,1189920.52,37093186.55,1189920.52,1.111670e+09,below
4,2010,5,May,100,1250117.35,35165932.10,1250117.35,1.265266e+09,below
5,2010,6,June,100,1293927.32,38233375.08,1293927.32,1.204488e+09,below
6,2010,7,July,90,1278807.39,34016737.98,1278807.39,1.260250e+09,below
7,2010,8,August,104,1237918.96,40886907.41,1237918.96,9.833444e+08,below
8,2010,9,September,109,1220595.57,39121355.94,1220595.57,1.030455e+09,below
9,2010,10,October,112,1368642.64,49401242.88,1368642.64,1.018767e+09,below
10,2010,11,November,89,1319701.36,35342097.81,1319701.36,9.785928e+08,below
11,2010,12,December,104,1343431.60,41790461.12,1343431.60,1.045005e+09,below
12,2011,1,January,114,1374494.15,43797224.59,1374494.15,1.154407e+09,below
13,2011,2,February,99,1316016.01,38786297.05,1316016.01,1.088059e+09,below
14,2011,3,March,110,1227905.41,41938690.11,1227905.41,1.193248e+09,below
15,2011,4,April,109,1217965.27,38936611.94,1217965.27,1.111670e+09,below
16,2011,5,May,116,1205015.53,39042394.70,1205015.53,1.265266e+09,below
17,2011,6,June,122,1422383.30,51680378.43,1422383.30,1.204488e+09,below
18,2011,7,July,111,1592778.56,48345156.18,1592778.56,1.260250e+09,below
19,2011,8,August,129,1206944.40,45043696.43,1206944.40,9.833444e+08,below

In [18]:
def foo():
    return "hello"

foo()

'hello'