In [3]:
pip install numpy

Requirement already satisfied: numpy in c:\Users\serha\OneDrive\Desktop\Data_Science_New_Era\.venv\Lib\site-packages (2.4.2)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import numpy as np

SELECT
(CASE END)
WHERE
GROUP BY
ORDER BY
-------

-------
JOIN

In [6]:
filepath = r'C:\Users\serha\OneDrive\Desktop\Data_Science_New_Era\Data_Science_New_Era\dataset.csv'
df = pd.read_csv(filepath, parse_dates=['Order Date','Ship Date']).reset_index()
df

,index,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,0,Sub-Saharan Africa,Chad,Office Supplies,Online,L,2011-01-27,292494523,2011-02-12,4484,651.21,524.96,2920025.64,2353920.64,566105.00
1,1,Europe,Latvia,Beverages,Online,C,2015-12-28,361825549,2016-01-23,1075,47.45,31.79,51008.75,34174.25,16834.50
2,2,Middle East and North Africa,Pakistan,Vegetables,Offline,C,2011-01-13,141515767,2011-02-01,6515,154.06,90.93,1003700.90,592408.95,411291.95
3,3,Sub-Saharan Africa,Democratic Republic of the Congo,Household,Online,C,2012-09-11,500364005,2012-10-06,7683,668.27,502.54,5134318.41,3861014.82,1273303.59
4,4,Europe,Czech Republic,Beverages,Online,C,2015-10-27,127481591,2015-12-05,3491,47.45,31.79,165647.95,110978.89,54669.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,Asia,Laos,Beverages,Online,H,2014-07-15,199342048,2014-07-31,8597,47.45,31.79,407927.65,273298.63,134629.02
9996,9996,Europe,Liechtenstein,Cosmetics,Online,C,2012-10-27,763044106,2012-11-01,562,437.20,263.33,245706.40,147991.46,97714.94
9997,9997,Sub-Saharan Africa,Democratic Republic of the Congo,Vegetables,Offline,M,2013-02-14,848579967,2013-03-20,2524,154.06,90.93,388847.44,229507.32,159340.12
9998,9998,Sub-Saharan Africa,South Africa,Meat,Online,L,2017-02-19,298185956,2017-02-22,8706,421.89,364.69,3672974.34,3174991.14,497983.20
9999,9999,Asia,Mongolia,Snacks,Offline,M,2016-04-12,824410903,2016-04-16,361,152.58,97.44,55081.38,35175.84,19905.54

In [7]:
# year, month, quarter, dayofweek,weekday_name -- order date
df_year = df['Order Date'].dt.year
df_quarter = df['Order Date'].dt.quarter
df_month = df['Order Date'].dt.month
df_dayofweek = df['Order Date'].dt.dayofweek
df_weekday_name = df['Order Date'].dt.day_name()


# df_order_year = df['Order_Year']
df['Order Year'] = df_year
df['Order Quarter'] = df_quarter
df['Order Month'] = df_month
df['Order Day of Week'] = df_dayofweek
df['Order Weekday Name'] =df_weekday_name
df['Shipping Days'] = (df['Ship Date'] - df['Order Date']).dt.days

df_orderdate = df[['Order Date','Order Year','Order Quarter','Order Month','Order Day of Week','Order Weekday Name', 'Shipping Days']]

# when shpping days < 7 then 'fast'
# shpping < 14 then 'normal'
# < 21 then 'slow'
# very slow
# case 
#   WHEN order days <= 7 Then 'fast'
#    WHEN lal ala then ccc
#    ELSE 
# 
# end

shipping_days_int = df_orderdate['Shipping Days'].to_numpy(dtype=int)


when = [
    (shipping_days_int <= 7), # Fast
    (shipping_days_int>7) & (shipping_days_int<=14), # Normal
    (shipping_days_int>14) & (shipping_days_int<=21) # Slow
]

then = ['Fast','Normal','Slow']

df_orderdate['Shipment Performance'] = np.select(when,then,default='Very Slow')
# df_orderdate

when = [0, 7, 14, 21, np.inf]
then = ['fast', 'normal', 'slow', 'very slow']
df_orderdate['shipping_status'] = pd.cut(
    df['Shipping Days'],
    bins=when,
    labels=then
)
df_orderdate

,Order Date,Order Year,Order Quarter,Order Month,Order Day of Week,Order Weekday Name,Shipping Days,Shipment Performance,shipping_status
0,2011-01-27,2011,1,1,3,Thursday,16,Slow,slow
1,2015-12-28,2015,4,12,0,Monday,26,Very Slow,very slow
2,2011-01-13,2011,1,1,3,Thursday,19,Slow,slow
3,2012-09-11,2012,3,9,1,Tuesday,25,Very Slow,very slow
4,2015-10-27,2015,4,10,1,Tuesday,39,Very Slow,very slow
...,...,...,...,...,...,...,...,...,...
9995,2014-07-15,2014,3,7,1,Tuesday,16,Slow,slow
9996,2012-10-27,2012,4,10,5,Saturday,5,Fast,fast
9997,2013-02-14,2013,1,2,3,Thursday,34,Very Slow,very slow
9998,2017-02-19,2017,1,2,6,Sunday,3,Fast,fast
9999,2016-04-12,2016,2,4,1,Tuesday,4,Fast,fast

In [10]:
# season.
# 12-1-2 winter
# 3-4-5 spring
# 6-7-8 Summer
# 9-10-11 autumn


import numpy as np

order_month = df_orderdate['Order Month'].astype(int)

when_seasons = [
    order_month.isin([12, 1, 2]),   # winter
    order_month.isin([3, 4, 5]),    # spring
    order_month.isin([6, 7, 8]),    # summer
    order_month.isin([9, 10, 11])   # autumn
]

then_seasons = ['winter', 'spring', 'summer', 'autumn']

df_orderdate['shipping_seasons'] = np.select(
    when_seasons, then_seasons, default='No Seasons'
)

df_orderdate

,Order Date,Order Year,Order Quarter,Order Month,Order Day of Week,Order Weekday Name,Shipping Days,Shipment Performance,shipping_status,shipping_seasons
0,2011-01-27,2011,1,1,3,Thursday,16,Slow,slow,winter
1,2015-12-28,2015,4,12,0,Monday,26,Very Slow,very slow,winter
2,2011-01-13,2011,1,1,3,Thursday,19,Slow,slow,winter
3,2012-09-11,2012,3,9,1,Tuesday,25,Very Slow,very slow,autumn
4,2015-10-27,2015,4,10,1,Tuesday,39,Very Slow,very slow,autumn
...,...,...,...,...,...,...,...,...,...,...
9995,2014-07-15,2014,3,7,1,Tuesday,16,Slow,slow,summer
9996,2012-10-27,2012,4,10,5,Saturday,5,Fast,fast,autumn
9997,2013-02-14,2013,1,2,3,Thursday,34,Very Slow,very slow,winter
9998,2017-02-19,2017,1,2,6,Sunday,3,Fast,fast,winter
9999,2016-04-12,2016,2,4,1,Tuesday,4,Fast,fast,spring