In [6]:
import pandas as pd
import numpy as np

In [7]:
filepath = r'C:\Users\serha\OneDrive\Desktop\Data_Science_New_Era\Data_Science_New_Era\dataset.csv'

df = pd.read_csv(filepath)
df = pd.read_csv(filepath, parse_dates=['Order Date', 'Ship Date'])
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          10000 non-null  str
 1   Country         10000 non-null  str
 2   Item Type       10000 non-null  str
 3   Sales Channel   10000 non-null  str
 4   Order Priority  10000 non-null  str
 5   Order Date      10000 non-null  datetime64[us]
 6   Order ID        10000 non-null  int64
 7   Ship Date       10000 non-null  datetime64[us]
 8   Units Sold      10000 non-null  int64
 9   Unit Price      10000 non-null  float64
 10  Unit Cost       10000 non-null  float64
 11  Total Revenue   10000 non-null  float64
 12  Total Cost      10000 non-null  float64
 13  Total Profit    10000 non-null  float64
dtypes: datetime64[us](2), float64(5), int64(2), str(5)
memory usage: 1.1 MB

In [8]:
df['Item Type']

0       Office Supplies
1             Beverages
2            Vegetables
3             Household
4             Beverages
             ...
9995          Beverages
9996          Cosmetics
9997         Vegetables
9998               Meat
9999             Snacks
Name: Item Type, Length: 10000, dtype: str

In [9]:
# SELECT * FROm DF WHERE 'Item Type' in ('Beverages','Vegetables') And 'Unit Price'>100

df2 = df.loc[(df['Item Type'] =='Beverages') | (df['Item Type'] =='Vegetables') & (df['Unit Price'] > 10.0)]
df2 = df.loc[(df['Item Type'].isin(['Beverages','Vegetables'])) & (df['Unit Price']>50)]

df2

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
2,Middle East and North Africa,Pakistan,Vegetables,Offline,C,2011-01-13,141515767,2011-02-01,6515,154.06,90.93,1003700.90,592408.95,411291.95
6,Asia,Laos,Vegetables,Online,L,2011-02-20,844532620,2011-03-20,4825,154.06,90.93,743339.50,438737.25,304602.25
25,Europe,Liechtenstein,Vegetables,Offline,L,2017-02-26,223957431,2017-02-28,2835,154.06,90.93,436760.10,257786.55,178973.55
33,Europe,San Marino,Vegetables,Online,H,2015-07-05,603977954,2015-07-29,9353,154.06,90.93,1440923.18,850468.29,590454.89
53,Sub-Saharan Africa,Ghana,Vegetables,Online,L,2013-07-10,681165492,2013-07-26,861,154.06,90.93,132645.66,78290.73,54354.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9949,Central America and the Caribbean,Saint Kitts and Nevis,Vegetables,Offline,H,2017-01-28,683105266,2017-02-01,4883,154.06,90.93,752274.98,444011.19,308263.79
9980,Asia,Laos,Vegetables,Online,M,2010-11-14,299414193,2010-12-10,2168,154.06,90.93,334002.08,197136.24,136865.84
9982,Middle East and North Africa,Tunisia,Vegetables,Offline,M,2011-10-01,609311902,2011-10-21,7787,154.06,90.93,1199665.22,708071.91,491593.31
9986,Europe,Greece,Vegetables,Offline,H,2010-06-06,694237935,2010-06-26,9287,154.06,90.93,1430755.22,844466.91,586288.31
9997,Sub-Saharan Africa,Democratic Republic of the Congo,Vegetables,Offline,M,2013-02-14,848579967,2013-03-20,2524,154.06,90.93,388847.44,229507.32,159340.12

In [10]:
# where region ='asia' or region='europe' and total revenue > 10000 and total cost between 20k and 40k

df3 = df.loc[(df['Region'].isin(['Asia','Europe'])) & (df['Total Revenue']>10000.0) & (df['Total Cost'].between(20000,40000))]
df3

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
1,Europe,Latvia,Beverages,Online,C,2015-12-28,361825549,2016-01-23,1075,47.45,31.79,51008.75,34174.25,16834.50
296,Asia,Sri Lanka,Personal Care,Offline,L,2011-06-08,926093232,2011-07-12,422,81.73,56.67,34490.06,23914.74,10575.32
368,Europe,Kosovo,Clothes,Offline,C,2011-08-06,689478623,2011-08-08,901,109.28,35.84,98461.28,32291.84,66169.44
379,Europe,Liechtenstein,Fruits,Online,M,2016-12-16,706519019,2016-12-19,3533,9.33,6.92,32962.89,24448.36,8514.53
541,Europe,Montenegro,Fruits,Offline,C,2012-01-09,713345134,2012-02-23,3532,9.33,6.92,32953.56,24441.44,8512.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9829,Europe,Kosovo,Fruits,Online,M,2012-11-11,346322810,2012-11-28,3470,9.33,6.92,32375.10,24012.40,8362.70
9844,Europe,Liechtenstein,Fruits,Offline,H,2016-04-13,657729852,2016-05-18,5734,9.33,6.92,53498.22,39679.28,13818.94
9917,Europe,Spain,Clothes,Online,M,2010-09-17,182554423,2010-11-06,765,109.28,35.84,83599.20,27417.60,56181.60
9926,Asia,Sri Lanka,Clothes,Online,C,2016-07-19,912071073,2016-08-22,953,109.28,35.84,104143.84,34155.52,69988.32
9999,Asia,Mongolia,Snacks,Offline,M,2016-04-12,824410903,2016-04-16,361,152.58,97.44,55081.38,35175.84,19905.54